In [1]:
import os
import pandas as pd

# 1. Прочитати засобами python pandas Dataframe дані про спортивні змагання (дані додаються до завдання)
DATA_FILE = os.path.join("data", "NFL Play by Play 2009-2016 (v3).csv") 
df = pd.read_csv(DATA_FILE)

# 2. Переглянути вибірку з даних
df.head()

/var/folders/wg/3j33zdv17vscn36w6jv121zm0000gn/T/ipykernel_32635/3210637360.py:6: DtypeWarning: Columns (25,51) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(DATA_FILE)

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2009-09-10,2009091000,1,1,NaN,15:00,15,3600.0,0.0,TEN,...,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,2009-09-10,2009091000,1,1,1.0,14:53,15,3593.0,7.0,PIT,...,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,2009-09-10,2009091000,1,1,2.0,14:16,15,3556.0,37.0,PIT,...,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,2009-09-10,2009091000,1,1,3.0,13:35,14,3515.0,41.0,PIT,...,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2009-09-10,2009091000,1,1,4.0,13:27,14,3507.0,8.0,PIT,...,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009

In [2]:
# 3. Підрахувати кількість пропущених значень у кожній колонці

df.isnull().sum()

Date             0
GameID           0
Drive            0
qtr              0
down         54218
             ...
Win_Prob     21993
WPA           4817
airWPA      220738
yacWPA      220956
Season           0
Length: 102, dtype: int64

In [3]:
# 4. Підрахувати відносну кількість пропущених значень у всій таблиці

(df.isnull().sum().sum() / df.size) * 100

27.652267428200588

In [4]:
# 5. Знайти дані, які не були внесені та дані, яких не існує

df[df.isnull().any(axis=1)]

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2009-09-10,2009091000,1,1,NaN,15:00,15,3600.0,0.0,TEN,...,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,2009-09-10,2009091000,1,1,1.0,14:53,15,3593.0,7.0,PIT,...,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,2009-09-10,2009091000,1,1,2.0,14:16,15,3556.0,37.0,PIT,...,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,2009-09-10,2009091000,1,1,3.0,13:35,14,3515.0,41.0,PIT,...,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2009-09-10,2009091000,1,1,4.0,13:27,14,3507.0,8.0,PIT,...,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
362442,2017-01-01,2017010102,20,4,1.0,00:22,1,22.0,6.0,GB,...,0.000000,0.051901,0.948099,0.093435,0.906565,0.051901,0.041534,0.041534,0.000000,2016
362443,2017-01-01,2017010102,20,4,NaN,00:13,1,13.0,9.0,GB,...,NaN,0.093435,0.906565,0.034069,0.965931,0.093435,-0.059366,NaN,NaN,2016
362444,2017-01-01,2017010102,21,4,NaN,00:13,1,13.0,0.0,DET,...,NaN,0.034069,0.965931,0.035708,0.964292,0.965931,-0.001639,NaN,NaN,2016
362445,2017-01-01,2017010102,21,4,1.0,00:12,1,12.0,1.0,DET,...,NaN,0.035708,0.964292,0.000000,1.000000,0.964292,0.035708,NaN,NaN,2016
362446,2017-01-01,2017010102,21,4,NaN,00:00,0,0.0,12.0,DET,...,NaN,0.000000,1.000000,0.000000,1.000000,0.934245,0.000000,NaN,NaN,2016

In [5]:
# 6. Видалити з даних всі рядки з пропущеними даними

df_without_na = df.dropna()
df_without_na

Empty DataFrame
Columns: [Date, GameID, Drive, qtr, down, time, TimeUnder, TimeSecs, PlayTimeDiff, SideofField, yrdln, yrdline100, ydstogo, ydsnet, GoalToGo, FirstDown, posteam, DefensiveTeam, desc, PlayAttempted, Yards.Gained, sp, Touchdown, ExPointResult, TwoPointConv, DefTwoPoint, Safety, Onsidekick, PuntResult, PlayType, Passer, Passer_ID, PassAttempt, PassOutcome, PassLength, AirYards, YardsAfterCatch, QBHit, PassLocation, InterceptionThrown, Interceptor, Rusher, Rusher_ID, RushAttempt, RunLocation, RunGap, Receiver, Receiver_ID, Reception, ReturnResult, Returner, BlockingPlayer, Tackler1, Tackler2, FieldGoalResult, FieldGoalDistance, Fumble, RecFumbTeam, RecFumbPlayer, Sack, Challenge.Replay, ChalReplayResult, Accepted.Penalty, PenalizedTeam, PenaltyType, PenalizedPlayer, Penalty.Yards, PosTeamScore, DefTeamScore, ScoreDiff, AbsScoreDiff, HomeTeam, AwayTeam, Timeout_Indicator, Timeout_Team, posteam_timeouts_pre, HomeTimeouts_Remaining_Pre, AwayTimeouts_Remaining_Pre, HomeTimeouts_Remaining_Post, AwayTimeouts_Remaining_Post, No_Score_Prob, Opp_Field_Goal_Prob, Opp_Safety_Prob, Opp_Touchdown_Prob, Field_Goal_Prob, Safety_Prob, Touchdown_Prob, ExPoint_Prob, TwoPoint_Prob, ExpPts, EPA, airEPA, yacEPA, Home_WP_pre, Away_WP_pre, Home_WP_post, Away_WP_post, Win_Prob, WPA, airWPA, ...]
Index: []

[0 rows x 102 columns]

In [6]:
# 7. Видалити з даних всі колонки з пропущеними даними, показати імена видалених колонок

dropped_columns = list(set(df.columns) - set(df.dropna(axis=1, how="any", inplace=False).columns))
dropped_columns

['Home_WP_pre',
 'Tackler1',
 'ScoreDiff',
 'airEPA',
 'No_Score_Prob',
 'RunGap',
 'down',
 'PassLocation',
 'time',
 'PosTeamScore',
 'DefTwoPoint',
 'FirstDown',
 'FieldGoalResult',
 'desc',
 'RecFumbTeam',
 'WPA',
 'Safety_Prob',
 'posteam',
 'RecFumbPlayer',
 'Tackler2',
 'PenalizedTeam',
 'RunLocation',
 'Opp_Touchdown_Prob',
 'EPA',
 'ExpPts',
 'PassLength',
 'Away_WP_post',
 'AbsScoreDiff',
 'SideofField',
 'Rusher',
 'Home_WP_post',
 'ExPointResult',
 'BlockingPlayer',
 'Away_WP_pre',
 'GoalToGo',
 'Opp_Safety_Prob',
 'PenaltyType',
 'Touchdown_Prob',
 'Passer',
 'yrdline100',
 'Receiver',
 'yacEPA',
 'Rusher_ID',
 'DefensiveTeam',
 'Receiver_ID',
 'TimeSecs',
 'Returner',
 'Interceptor',
 'yrdln',
 'Timeout_Team',
 'Opp_Field_Goal_Prob',
 'DefTeamScore',
 'FieldGoalDistance',
 'yacWPA',
 'PassOutcome',
 'ChalReplayResult',
 'PlayTimeDiff',
 'ReturnResult',
 'PenalizedPlayer',
 'Win_Prob',
 'PuntResult',
 'TwoPointConv',
 'airWPA',
 'Passer_ID',
 'Field_Goal_Prob']

In [7]:
# 8. Заповнити пропущені дані правдоподібними значеннями, використати різні методи
df_copy = df.copy()

for column in dropped_columns:
    if df_copy[column].dtypes == "object":
        df_copy[column].fillna("UNKNOWN", inplace=True)
    else:
        df_copy[column].fillna(df_copy[column].mean(), inplace=True)

df_copy

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2009-09-10,2009091000,1,1,2.001226,15:00,15,3600.0,0.0,TEN,...,-0.386522,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,0.015209,-0.010492,2009
1,2009-09-10,2009091000,1,1,1.000000,14:53,15,3593.0,7.0,PIT,...,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,2009-09-10,2009091000,1,1,2.000000,14:16,15,3556.0,37.0,PIT,...,-0.386522,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,0.015209,-0.010492,2009
3,2009-09-10,2009091000,1,1,3.000000,13:35,14,3515.0,41.0,PIT,...,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2009-09-10,2009091000,1,1,4.000000,13:27,14,3507.0,8.0,PIT,...,-0.386522,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,0.015209,-0.010492,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
362442,2017-01-01,2017010102,20,4,1.000000,00:22,1,22.0,6.0,GB,...,0.000000,0.051901,0.948099,0.093435,0.906565,0.051901,0.041534,0.041534,0.000000,2016
362443,2017-01-01,2017010102,20,4,2.001226,00:13,1,13.0,9.0,GB,...,-0.386522,0.093435,0.906565,0.034069,0.965931,0.093435,-0.059366,0.015209,-0.010492,2016
362444,2017-01-01,2017010102,21,4,2.001226,00:13,1,13.0,0.0,DET,...,-0.386522,0.034069,0.965931,0.035708,0.964292,0.965931,-0.001639,0.015209,-0.010492,2016
362445,2017-01-01,2017010102,21,4,1.000000,00:12,1,12.0,1.0,DET,...,-0.386522,0.035708,0.964292,0.000000,1.000000,0.964292,0.035708,0.015209,-0.010492,2016
362446,2017-01-01,2017010102,21,4,2.001226,00:00,0,0.0,12.0,DET,...,-0.386522,0.000000,1.000000,0.000000,1.000000,0.934245,0.000000,0.015209,-0.010492,2016

In [8]:
# 9. Переглянути типи даних та перетворити тестові значення на дату+час, додати колонки з роком, місяцем, днем тижня, днем місяця

df_copy = df.copy()

df_copy["Date"] = pd.to_datetime(df_copy["Date"])
df_copy["year"] = df_copy["Date"].dt.year
df_copy["month"] = df_copy["Date"].dt.month
df_copy["day_of_week"] = df_copy["Date"].dt.dayofweek + 1
df_copy["day_of_month"] = df_copy["Date"].dt.day

df_copy.head()

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season,year,month,day_of_week,day_of_month
0,2009-09-10,2009091000,1,1,NaN,15:00,15,3600.0,0.0,TEN,...,0.453567,0.485675,0.060758,NaN,NaN,2009,2009,9,4,10
1,2009-09-10,2009091000,1,1,1.0,14:53,15,3593.0,7.0,PIT,...,0.448912,0.546433,0.004655,-0.032244,0.036899,2009,2009,9,4,10
2,2009-09-10,2009091000,1,1,2.0,14:16,15,3556.0,37.0,PIT,...,0.489207,0.551088,-0.040295,NaN,NaN,2009,2009,9,4,10
3,2009-09-10,2009091000,1,1,3.0,13:35,14,3515.0,41.0,PIT,...,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009,2009,9,4,10
4,2009-09-10,2009091000,1,1,4.0,13:27,14,3507.0,8.0,PIT,...,0.441071,0.461217,0.097712,NaN,NaN,2009,2009,9,4,10

In [9]:
# 10. За допомогою метода DataFrame.quantile знайти аномальні значення в колонках із числовими даними, показати відповідні рядки

numeric_df = df.select_dtypes(include="number")
q25 = numeric_df.quantile(0.25)
q75 = numeric_df.quantile(0.75)
IQR = q75 - q25
anomalies = numeric_df[(numeric_df < (q25 - 1.5 * IQR)) | (numeric_df > (q75 + 1.5 * IQR))]
anomalies

,GameID,Drive,qtr,down,TimeUnder,TimeSecs,PlayTimeDiff,yrdln,yrdline100,ydstogo,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.060758,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-5.031425,NaN,NaN,NaN,NaN,NaN,NaN,0.106663,-0.156239,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.097712,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
362442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
362443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-0.059366,NaN,NaN,NaN
362444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
362445,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
362446,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# 12. Виконати нормалізацію даних за допомогою scipy.stats.boxcox
from scipy.stats import boxcox

df_norm = df.copy()

columns_to_normalize = ["Yards.Gained", "Penalty.Yards", "EPA", "WPA"]
for column in columns_to_normalize:
    if (df_norm[column] > 0).all():
        df_norm[column], _ = boxcox(df_norm[column])
    else:
        print(f"Column '{column}' contains non-positive values and cannot be normalized with Box-Cox method.")

df_norm.head()

Column 'Yards.Gained' contains non-positive values and cannot be normalized with Box-Cox method.
Column 'Penalty.Yards' contains non-positive values and cannot be normalized with Box-Cox method.
Column 'EPA' contains non-positive values and cannot be normalized with Box-Cox method.
Column 'WPA' contains non-positive values and cannot be normalized with Box-Cox method.

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2009-09-10,2009091000,1,1,NaN,15:00,15,3600.0,0.0,TEN,...,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,2009-09-10,2009091000,1,1,1.0,14:53,15,3593.0,7.0,PIT,...,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,2009-09-10,2009091000,1,1,2.0,14:16,15,3556.0,37.0,PIT,...,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,2009-09-10,2009091000,1,1,3.0,13:35,14,3515.0,41.0,PIT,...,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2009-09-10,2009091000,1,1,4.0,13:27,14,3507.0,8.0,PIT,...,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009

In [11]:
# 13. Показати кодову таблицю для вибраної колонки з тектовими даними

pd.DataFrame({"posteam": df["posteam"].unique(), "Code": range(len(df["posteam"].unique()))})

   posteam  Code
0      PIT     0
1      TEN     1
2      NaN     2
3      CLE     3
4      MIN     4
5       NO     5
6      DET     6
7      DAL     7
8       TB     8
9      HOU     9
10     NYJ    10
11     IND    11
12     JAC    12
13     DEN    13
14     CIN    14
15     CAR    15
16     PHI    16
17      KC    17
18     BAL    18
19     ATL    19
20     MIA    20
21     ARI    21
22      SF    22
23     STL    23
24     SEA    24
25     NYG    25
26     WAS    26
27      GB    27
28     CHI    28
29      NE    29
30     BUF    30
31     OAK    31
32      SD    32
33      LA    33
34     JAX    34